.invisible {
    display: none;
}

body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

header {
    padding: 7px;
    background-color: var(--super-dark);
}

header > ul {
    display: flex;
    align-items: baseline;
}

header > ul li {
    display: block;
    width: 50%;
}

header > ul li:last-child {
    padding-top: 5px;
    text-align: right;
}


header > ul button, #exit {
    color: var(--main-dark);
    font-size: 110%;
    font-weight: 700;
    background-color: var(--important);
    letter-spacing: 1px;
    padding: 6px 8px;
}

header > ul a {
    color: var(--important);
    font-size: 110%;
    letter-spacing: 1px;
    padding: 3px 8px;
    border: 3px solid var(--important);
}

nav {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--main-dark);
}

nav > div {
    overflow: auto;
}

nav h1, nav p {
    text-align: center;
    font-weight: 700;
}

nav h1 {
    color: var(--important);
    padding: 50px 0;
    font-family: var(--code-font);
    font-size: 150%;

}
nav p {
    color: var(--maybe);
    font-size: 110%;
}

nav ul {
    display: flex;
    flex-direction: column;
    padding: 50px 12px;
}

nav li {
    display: block;
    width: 100%;
    margin: 0 0 12px;
}

nav button {
    padding: 7px 12px;
    background-color: var(--maybe);
    color: var(--main-dark);
    font-size: 95%;
    font-weight: 700;
    letter-spacing: 1px;
    width: 100%;
}

#closeNav {
    display: block;
    background-color: var(--important);
    margin: 0 auto 50px auto;
    max-width: 250px;
}

main {
    border-width: 0 4px;
    border-style: solid;
    border-color: var(--super-dark);
}

main > div {
    background-color: var(--super-dark);
    overflow: auto;
}

main div > section:first-child {
    background-color: var(--super-dark);
}

main div > section:first-child p {
    color: var(--maybe);
    padding: 7px;
    line-height: 1.3;
}

#css-form {
    background-color: var(--main-dark);
}

#css-form h1 {
    color: var(--good);
    padding: 15px 0;
    font-weight: 700;
    font-size: 150%;
}

#css-form > section:not(:last-of-type) {
    padding: 7px;
    border-bottom: solid 4px var(--bright);
}
#css-form section {
    padding: 7px;
}

#css-form section > div {
    padding: 7px;
}

#css-form section > div > div {
    padding: 7px;
}

#css-form h2 {
    color: var(--bright);
    padding: 7px 0;
    font-weight: 700;
    font-size: 120%;
}

#css-form select, #css-form input {
    color: var(--bright);
    background-color: var(--main-dark);
    border: solid 3px var(--bright);
}

#css-form .unit {
    margin: 0 0 0 -8px;
    padding: 3px;
}

#css-form button {
    color: var(--maybe);
    background-color: var(--main-dark);
    font-family: var(--code-font);
    font-weight: 700;
    padding: 2px;
}

#js-section {
    background-color: var(--main-dark);
}

#js-section textarea {
    color: var(--bright);
    background-color: var(--main-dark);
    width: 100%;
    height: 250px;
    padding: 7px;
}

#css-form > div, #js-section > div {
    display: flex;
    padding: 15px;
    background-color: var(--super-dark);
}

#css-form > div button[type='button'], #js-section > div button[type='button'] {
    color: var(--super-dark);
    font-family: var(--main-font);
    background-color: var(--significant);
    font-weight: 700;
    padding: 6px 8px;
}

#css-form > div button[type='reset'], #js-section > div button[value='resetJs'] {
    color: var(--super-dark);
    font-family: var(--main-font);
    background-color: var(--important);
    padding: 6px 8px;
    margin: auto 0 0 auto;
}

#result {
    width: 100%;
    border-bottom: solid 4px var(--super-dark);
}

article {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: var(--main-bright);
    border: solid 7px var(--super-dark);
}

article > div:first-of-type {
    padding-bottom: 7px;
    background-color: var(--super-dark);
}

article > div:nth-of-type(2) {
    overflow: auto;
    padding: 20px 10px;
}

#myCode code {
    background-color: var(--white);
}

#myCode span {
    font-style: normal;
}

#myCode span.prop {
    padding-left: 12px;
    color: var(--important);
    font-style: italic;
}

.number {
    color: var(--significant);
}

.unit {
    color: var(--good);
}

.color {
    color: var(--advanced);
}

.tag {
    color: var(--important);
}

@media only screen and (min-width: 900px) {

    header {
        padding: 8px;
    }

    header > ul button:hover, #exit:hover, #closeNav:hover {
        background-color: var(--hover-important);
    }

    header > ul a:hover {
        color: var(--hover-important);
        border-color: var(--hover-important);
    }

    header > ul li {
        padding: 0 40px;
    }

    nav {
        background-color: var(--super-dark);
    }

    nav > div {
        width: 700px;
        background-color: var(--main-dark);
        margin: auto;
        padding: 0 20px;
    }

    main > div {
        border-style: solid;
        border-width: 0 4px 4px 0;
        border-color: var(--super-dark);
    }

    #css-form button:hover {
        color: var(--hover-maybe);
    }

    #css-form > div button[type='button']:hover, #js-section > div button[type='button']:hover {
        background-color: var(--hover-significant);
    }

    #css-form > div button[type='reset']:hover, #js-section > div button[value='resetJs']:hover {
        background-color: var(--hover-important);
    }

    #js-section textarea {
        height: 400px;
    }

    article > div:first-of-type {
        padding: 0 40px 7px 40px;
    }
}