header {
    background-color: var(--main-dark);
    padding: 7px 7px 0 7px;
}

header h1 {
    color: var(--maybe);
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 3px;
    padding: 180px 20px;
    text-align: center;
}

header > ul li {
    text-align: right;
    padding: 15px 10px 10px;
}

header > ul a {
    color: var(--super-dark);
    background-color: var(--important);
    letter-spacing: 2px;
    font-weight: 700;
    padding: 5px;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

nav li {
    display: inline-block;
    margin: 0 6px 12px;
}

nav button {
    padding: 7px 12px;
    background-color: var(--maybe);
    color: var(--main-dark);
    font-size: 95%;
    font-weight: 700;
    letter-spacing: 1px;
}

main > section {
    color: var(--bright);
    background-color: var(--super-dark);
    padding: 25px 15px;
}

main > ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--main-dark);
    padding: 12px;
}

main > ul li {
    border-left-width: 9px;
    border-left-style: solid;
}

main > ul li:not(:first-child) {
    margin-top: 12px;
}

main > ul button {
    color: var(--super-dark);
    font-size: 95%;
    letter-spacing: 1px;
    background-color: var(--maybe);
    width: 100%;
    padding: 10px;
}

.importance-1 {
    border-left-color: var(--good);
}

.importance-2 {
    border-left-color: var(--important);
}

.importance-3 {
    border-left-color: var(--advanced);
}


article {
    background-color: var(--main-bright);
    padding: 20px 10px;
}

article div:first-child {
    margin-bottom: 25px;
}

footer {
    background-color: var(--super-dark);
    padding: 25px 20px;
    font-family: var(--code-font);
}

footer li {
    text-align: center;
    padding: 15px;
}

footer a {
    font-size: 90%;
    padding: 15px;
}

footer a span {
    color: var(--advanced);
}

footer p {
    color: var(--bright );
    font-size: 80%;
    text-align: center;
    padding: 15px 0;
}

footer p span {
    color: var(--main-bright);
    font-weight: 700;
}

footer p strong {
    font-weight: 900;
}

.linkOfImportance a {
    color: var(--main-dark);
    display: block;
    background-color: var(--maybe);
    letter-spacing: 2px;
    font-weight: 900;
    text-align: center;
    padding: 5px 8px;
    font-size: 120%;
}


@media only screen and (min-width: 900px) {

    header h1 {
        font-size: 2.5em;
    }

    header > ul a {
        font-size: 110%;
    }

    header > ul a:hover {
        background-color: var(--hover-important);
    }

    nav ul {
        position: absolute;
        bottom: 0;
        left: 0;
    }

    nav button {
        font-size: 110%;
    }

    main > ul {
        padding: 12px 36px;
    }

    main > ul li {
        border-left-width: 12px;
    }

    main > ul button {
        text-align: left;
        font-size: 105%;
    }

    .linkOfImportance a {
        max-width: 600px;
        margin: auto;
    }

    .linkOfImportance a:hover {
        background-color: var(--hover-maybe);
    }

    footer p {
        font-size: 90%;
        padding: 10px 0;
    }

    footer li {
        padding: 10px;
    }
}